# Node
node_modules/
npm-debug.log
yarn-error.log

# Environnements
.env
.env.local
.env.development.local
.env.production.local

# OS / Éditeur
.DS_Store
.vscode/
.idea/
*.log

# Build outputs
dist/
build/
.cache/
